.auth-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F3F3F3;
    border: 1px solid #D9D9D9;

    h3 {
        font-weight: 700;
        font-size: 14px;
        color: #32A8C7;
    }

    span {
        font-size: 14px;
        font-weight: 700;
    }

    form {
        width: 100%;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 14px;
        font-weight: 600;

        input {
            height: 35px;
            width: 370px;

            border-radius: 2px;
            border: 1px solid #CCCCCC;
            font-size: 14px;
            font-weight: 600;

            &:focus {
                box-shadow: none;
                border: 1px solid #CCCCCC;
            }
        }

        .error {
            border: 1px solid red;
        }
    }

    button {
        height: 35px; width: 180px;

        background-color: #C85A19;
        border-radius: 0;
        outline: none;
        border: none;
        box-shadow: none;
        font-size: 14px;
        font-weight: 700;

        &:hover, &:focus, &:active {
            background-color: #db6b2a;
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}