.auth-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;

    h3 {
        font-weight: 700;
        font-size: 14px;
        color: #32A8C7;
    }

    span {
        font-size: 14px;
        font-weight: 700;
    }

    .password {
        display: block;

        text-align: end;
        color: #c85a19;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}