@import "panel";

.account {
    padding: 100px 0 100px 0;

    .title {
        h2 {
            width: 300px;

            font-size: 35px;
            font-family: "Roboto";
            font-weight: 800;
            padding: 0;
        }
    }
}