@import "pronostic";

.pronostics {
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-top: 60px;

        background-image: url("../../../assets/website-bg.jpg");
        color: #fff;
        text-transform: uppercase;
        overflow: hidden;

        span {
            font-size: 25px;
            font-weight: 400;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }

        h2, h2 span {
            font-size: 45px;
            font-weight: 800;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }

        p {
            font-size: 16px;
            font-weight: 700;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
    }
}