@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

// GENERAL _________________________________________________
* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #0A1929;
    font-family: "Inter", sans-serif;
    color: #fff;

    &::-webkit-scrollbar {
        display: none;
    }
}

p {
    margin: 0; padding: 0;

    color: rgb(178, 186, 194);
}

// LINKS ___________________________________________________
a, .nav-link {
    color: #fff !important;
    text-decoration: none;
}


// BUTTONS ____________________________________________________
button {
    margin: 5px;

    font-weight: 700 !important;
    font-size: 14px !important;
    text-transform: none !important;
}

.user-btn {
    height: 35px !important;
    width: 30px !important;
    min-width: 35px !important;
    border-radius: 8px !important;
    padding: 0 !important;
}

.login-btn {
    height: 50px;
    width: 185px;

    padding: 13px 30px;

    font-family: "Francois One", sans-serif;
    background: #00503C;
    border: none;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s ease;

    &:hover, &:focus {
        border: none;
        outline: none;
        box-shadow: none;
        background: #003326;
    }
}

.login-navbar-btn {
    height: 50px;

    padding: 15px;

    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    box-shadow: none;
    outline: none;

    &:hover, &:focus, &:active {
        background: #f05a02;
        border-left: 1px solid #DFDFDF;
        border-right: 1px solid #DFDFDF;
        box-shadow: none;
        outline: none;
    }
}

.google-btn {
    cursor: pointer;
}


// FORM ____________________________________________________________
.form-select {
    height: 35px;

    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    background: none;
    color: #fff;

    &:focus {
        box-shadow: none;
        background: none;
    }

    &:disabled {
        background: #0c1f32;
    }

    option {
        color: #000;
    }
}

.form {
    width: 90%;

    position: relative;

    font-size: 14px;
    font-weight: 600;

    input {
        height: 35px;

        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 14px;
        font-weight: 400;
        background: none;
        color: #fff;

        &:focus {
            box-shadow: none;
            background: none;
            border: 1px solid #66B2FF;
            color: #fff;
        }

        &:disabled {
            background: #0c1f32;
        }
    }

    .error {
        border: 1px solid #950000;
    }

    .text-danger {
        color: #950000 !important;
    }
}

.filter {
    height: 100%;
    width: 100%;

    position: absolute;

    background-color: #000;
    opacity: 50%;
}


.alert {
    position: fixed;
    bottom: 15px;
    left: 30px;

    animation: slidein both 0.25s ease-in-out;
    opacity: 0;
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}